@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #080321;
}

/* Target when dark class is on <html> */
/* html.dark {
  --background: #080321;
  --foreground: #f9fafb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  transition: background-color 200ms ease, color 200ms ease;
}

.myGreen {
  color: "#C5FF4A";
} */ 
